{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <!-- Title for the page -->
      <h1>Add a new cafe into the database</h1>

      <!-- This is where your WTForm will be rendered -->
      {{ render_form(form) }}

      <!-- Link to see all cafes in the database -->
      <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
